* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: clamp(31.25%, 1% + 2vw, 62.5%);
  --body-bg-color: #b9b9b9;
  --primary-color: #54b3ca;
  --menu-text-color: #4b4b4b;
}

body {
  background-color: var(--body-bg-color);
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  height: 100vh;
}
