* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: (31.75%, 1% + 2vw, 62.5%);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

body {
  height: 100vh;
  font-size: 1.6rem;
}
