*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: clamp(30%, 1% + 2vw, 62.5%);
  --app-bg: hsl(208, 100%, 97%);
  --primary-color: hsl(201, 100%, 36%);
  --secondary-color: hsl(202, 100%, 39%);
  --tertiary-color: hsl(208, 100%, 97%);
  --text-highlight-color: hsl(239, 76%, 11%);
  --text-color: hsl(240, 20%, 43%);
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
}