* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: clamp(31.5%, 1% + 2vw, 61.5%);
  --main-bg: #fff;
  --modal-backdrop: #148dc57e;
  --text-color: #0f0a30;
}

body {
  height: 100vh;
  background: url(../assets/hero.jpeg) no-repeat center / cover;
  font-size: 1.6rem;
}
