aside {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

aside button {
  aspect-ratio: 1;
  width: 2.4rem;
  height: 2.4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  color: var(--primary-color);
  padding: 1.6rem;
  border: none;
  border-radius: 50%;

  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

aside button:hover,
aside button:focus {
  background-color: var(--darker-gray-color);
  color: var(--primary-color);
}

aside button svg {
  font-size: 2rem;
}

aside #light-toggle {
  display: none;
}

#root.dark #dark-toggle {
  display: none;
}

#root.dark #light-toggle {
  display: flex;
}

#our-menu {
  height: 100vh;

  display: grid;
  grid-template-rows: 20rem auto;
  grid-template-areas: 'menu-header' 'content';

  background-color: var(--app-bg-color);

  color: var(--text-color);
}

.menu-header {
  grid-area: menu-header;
  text-align: center;

  display: flex;
  flex-direction: column;

  border-bottom: 0.3rem solid var(--primary-color);
}

.menu-header h2 {
  font-weight: 700;
  font-size: 4rem;

  border-bottom: 0.3rem solid var(--primary-color);
}

.menu-filters {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.menu-header,
.menu-filters {
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.menu-filters button {
  background: #fff;
  font-weight: 500;
  color: var(--primary-color);
  padding: 0.8rem 1.4rem;
  border: 0.2rem solid var(--primary-color);
  border-radius: 0.8rem;
  cursor: pointer;
}

.menu-items {
  grid-area: content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60rem, 1fr));
  grid-auto-rows: 12rem;
  column-gap: 2rem;
  row-gap: 4rem;

  padding: 2rem;

  overflow-y: auto;
}

.img-wrapper {
  height: 12rem;
  width: 20rem;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  object-fit: cover;
}

.menu-item {
  max-height: 12rem;
  display: flex;
  gap: 2rem;
}

.item-info {
  height: 100%;
  width: 90%;
}

.item-info h3 {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 0.4rem;
  padding-bottom: 1rem;
  border-bottom: 0.2rem solid var(--gray-color);
  margin-bottom: 1rem;
}

.item-info span {
  color: var(--primary-color);
}

.item-info p {
  font-size: 1.4rem;
  color: var(--darker-gray-color);
}

@media screen and (max-width: 674px) {
  .menu-items {
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  }
}
