* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: clamp(40%, 1% + 2vw, 62.5%);
  --app-bg-color: #e7f3f5;
  --primary-color: #c29929;
  --text-color: #0d0630;
  --gray-color: #a1a1a1;
  --darker-gray-color: #313131;
}

.dark {
  --app-bg-color: #0d0630;
  --primary-color: #3a86e9;
  --text-color: #cef6fd;
  --gray-color: #4141415d;
  --darker-gray-color: #ffffff;
}

body {
  font-size: 1.6rem;
}

body,
button {
  font-family: 'Roboto', sans-serif;
}

button,
a {
  transition: filter 0.2s ease-out;
}

button:hover,
button:hover,
a:hover,
a:focus {
  filter: brightness(0.8);
}
